<template>
  <v-carousel
    continuous
    cycle
    :show-arrows="!error"
    hide-delimiters
    height="400"
  >
    <v-alert
        dense
        type="error"
        v-if="error"
      >
        {{error_msg}}
      </v-alert>
    <v-progress-linear
      indeterminate
      v-if="loading"
      color="teal darken-2"
    ></v-progress-linear>
    <v-carousel-item v-for="(item, index) in data" :key="index">
      <v-sheet height="100%" tile>
        <v-card>
          <v-img
            :src="item.img.url"
            class="white--text align-end"
            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
            height="400"
          >
            <v-card-title v-text="item.nama"></v-card-title>
            <v-card-subtitle v-text="item.desc"></v-card-subtitle>
          </v-img>
        </v-card>
      </v-sheet>
    </v-carousel-item>
  </v-carousel>
</template>

<script>
import { getData } from "./products";

export default {
  name: "ProductList",
  data() {
    return {
      data: [],
      error: false,
      error_msg: "",
      loading: true
    };
  },
  created() {
    this.init();
  },
  methods: {
    share() {
      alert("The product has been shared!");
    },
    async init() {
      await getData()
        .then(response => {
          if (response.status) {
            this.data = response.data;
            console.log(this.data);
          } else {
            this.error = true;
            this.error_msg = response.data;
            console.log(response.data)
          }
        })
        .finally(() => {
          this.loading = false;
        });
    }
  }
};
</script>

<style></style>
