<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      Promo BNI
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main>
      <BNIZona/>
    </v-main>
  </v-app>
</template>

<script>
import BNIZona from './components/ProductList/ProductList.vue';

export default {
  name: 'App',

  components: {
    BNIZona,
  },

  data: () => ({
    //
  }),
};
</script>
